[Unit]
Description=LED Alarm service
Requires=network.target
After=systemd-timesyncd.service

[Service]
ExecStart=/home/jeremiah/led_alarm/main
StopSignal=SIGINT
KillSignal=SIGKILL
ReloadSignal=SIGINFO
User=root
Group=root
Type=simple
RestartSec=30

[Install]
WantedBy=multi-user.target
